@media(max-width: 991px){
    .banner .imgSidebar{
        display: none;
    }
    .banner .contentBx, .sidebar {
        width: 100%;
        padding: 40px;
    }
    .logoText {
    left: 40px;
}
.toggle{
    right: 40px;
}
.sci{
    left: 40px;
}
selection{
    padding: 40px;
  }
  
.about .content{
  flex-direction: column;
  margin-top: 0;

}
.about .content .textBx {
    min-width: 100%;
    width: 100%;
}
.about .content .imgBx{
    margin-left: 0;
}
.skill{
    margin-bottom: 150px;
    padding-bottom: 0;
    height: 100px;
 
}
 .skill ul li{
   margin-right: 5px; 
   
} 

 .skill ul li img{
   transform: scale(0.6);
}
 .contact .title form{
    width: 100%;
}
h2 p form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.contact  form{
    width: 90%;
    margin: 10px;
} 
.sidebar ul li a{
    font-size: 1.5em;
}
}
@media (max-width: 500px) 
{ 
    .work .content .workBx{
        max-width: 100%; 
        width: 100%;
        margin: 50px 0;
    }
    .work .content .workBx .imgBx img{
       height: 150px; }
}
